@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome My Title</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card-columns">
    @foreach (var movie in Model.movies)
    {
        <div class="card">
            <div class="card-body">
                <h5>@movie.ID</h5>
                <h5>@movie.maker</h5>
                <h5>@movie.thetitle</h5>
            </div>
        </div>
    }
</div>