@page
@model IndexModel
@using WebApplication1.Components
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome My Title</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    @(await Html.RenderComponentAsync<MovieList>(RenderMode.ServerPrerendered))
}

<script src="_framework/blazor.server.js"></script>